<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
</head>
<body>
<div th:fragment="navbar">

<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" href="resources/css/base.css" media="all" />
	<div class="header-secondary">
		<div class="container">
			<div class="wrapper">
				<div class="nav-secondary">
					<ul class="nav-horizontal">
						<li><a href="https://slate.sheridancollege.ca/"
							target="_blank">Slate</a></li>
						<li><a href="https://access.sheridaninstitute.ca/"
							target="_blank">Access Sheridan</a></li>
						<li><a
							href="http://sheridaninstitute.intelliresponse.com/asksheridan/"
							target="">ASK.Sheridan</a></li>
						<!--  <li><a href="/life-at-sheridan/student-services/library-services" target="">Library</a></li> -->
					</ul>
				</div>


				<div class="cta-header-container">
					<ul class="nav-horizontal cta-header">
						<li><a href="/signup" target="">Sign Up</a></li>
						<li><a href="/login" target="">Login</a></li>

					</ul>
				</div>

			</div>
		</div>
	</div>


	<div class="header-primary">
		<div class="container inner-wrapper logo-container">
			<a href="#"><img th:src="@{/resources/images/sheridan-logo.svg}"
				class="logo" alt="Sheridan College logo"></a> <a href="#"
				class="nav-mobile-link"> <img alt="mobile navigation"
				th:src="@{/resources/images/sheridan-logo.svg}">
			</a>
		</div>

		<div class="nav-primary-container" role="navigation">
			<div class="container">
				<ul class="nav-primary nav-horizontal" role="navigation">
					<li><a class="small" href="/">&nbsp;</a></li>
					<li><a href="/about" target="" data-nav="about" class="">About
							Sheridan</a></li>
					<li><a href="/meetProfs" target=""
						data-nav="meet-our-Professors" class="">Our Professors</a></li>
					<li><a href="/projects" target="" data-nav="projects" class="">Projects</a></li>
					<li><a href="/faq" target="" data-nav="faq" class="">FAQ</a></li>
					<li><a href="/contact" target="" data-nav="contactus" class="">Contact
							Us</a></li>
				</ul>
			</div>
		</div>
		<!-- /.nav-primary-container -->
	</div>
</div>
</body>
</html>