
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Create Group</title>
</head>
<body class="bg-grey">
  
   
   
	<div th:replace="fragments/navbars/navbar :: Student_Nav">
	</div>
	
	
	<div class="bg-white" align="center">
	

		<form th:action="@{/student/addGroup}" th:object="${group}" method="post">
			<table>
			<tr>
			<th colspan="2">
				Create Group
			</th>

			</tr>
				<tr  th:if=${error}>
					<td colspan ="2" th:text="${error}">
					</td>
				</tr>
			<tr>
				
				<td>Group Name: </td>
				<td><input th:field="*{groupName}"/></td>
				
			</tr>
			
			<tr>
				<td colspan ="2" align="center"><input type="submit" value="Create Group" /></td>
			</tr>
			
			</table>
		</form>
		
	</div>
	

</body>
</html>