
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Group Info</title>
</head>
<body class="bg-grey">
   
	<div th:replace="fragments/navbars/navbar :: Student_Nav">
	</div>
	
	<div class="bg-white" align="center">
	
				<div class="block large-text callout-with-stats welcome"
				style="height: 458px;">


	
	<br/>
	<div >
		<p th:text="${error}"> </p>
	</div>
		<div style="font-weight:bold;" th:if="${student.group} != null">
			<table>
			
				<tr>
					<th colspan="4">Group Info</th>
				</tr>
				<tr>

						<td>
						<p style="font-weight:bold;"> Group Name: </p>
						</td>
						<td th:text="*{student.group.groupName}">
						</td>

						<td>
						<p style="font-weight:bold;">Group Program: </p>
						</td>
					
						<td th:text="*{student.group.program}" >
						</td>
				</tr>
			
				<tr>
						<td colspan="3">
						<p style="font-weight:bold;">Group Password:</p>
						</td>
					
						<td th:text="*{student.group.passcode}">
						</td>
					
				</tr>
				
				<tr th:if="${student.group?.project} == null">
				
						<td colspan="4" align="center">
						 <a style="font-weight:bold;" th:href="@{/student/leave_Group}">Leave Group </a>
						</td>
		
					
				</tr>
			

			<span th:if="${student.group?.Project != null}">
			<tr>
					<th colspan="4">Project Info</th>
			</tr>
				<tr>
						<td>
						<p style="font-weight:bold;">Project Title:</p>
						</td>
					
						<td th:text="*{student.group?.Project.title}" >
						</td>

						<td>
						<p style="font-weight:bold;">Project Description:</p>
						</td>
					
						<td th:text="*{student.group?.Project.description}" >
						</td>
				</tr>
			
				
				<tr>
				
					<td>
						<p style="font-weight:bold;">Client Name:</p>
					</td>
					
					<td th:text="*{student.group?.Project.Client.clientName}" >
					</td>
					
					<td>
						<p style="font-weight:bold;">Client Email:</p>
					</td>
					
					<td th:text="*{student.group?.Project.Client.clientEmail}">
					</td>
					
				</tr>
			</span>
			
			
			</table>
			
		</div>
		
		
		
		
		<div th:if="${student.group} == null">	
			<table>
				<tr>
					<td>
						<a th:href="@{/student/createGroup}">Create Group </a>
					</td>
				</tr>
				
				<tr>
					<td>
						<a th:href="@{/student/joinGroup}">Join Group </a>
					</td>
				</tr>
			</table>
		

		</div>
		
		
	</div>
	</div>

	
	

</body>
</html>