
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/base.css}" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Group Info</title>
</head>
<body class="bg-grey">
   
	<div th:replace="fragments/navbars/navbar :: Student_Nav">
	</div>
	
	
	
	
	
	<div class="container" align="center">

	<div th:if="${error}" class="alert alert-danger shadow">
		<p th:text="${error}"> </p>
	</div>

	
		<div th:if="${student.group} != null">

		
		<div class="card text-center w-50 shadow m-4" >
		  <div class="card-body">
		    <h3 class="card-title" th:text="*{#strings.capitalizeWords(student.group.groupName)}"></h3>
		    <p class="card-text"  th:text="*{student.group.program}"></p>
	   			<ul class="list-group list-group-flush ">		
					<li class="list-group-item"
						th:text="*{student.group.campus}"></li>
					<li class="list-group-item"
						th:utext="'Group Passcode: '+ *{student.group.passcode}"></li>
						
				</ul>
				
				
		  </div>
		  <div th:if="${student.group?.project} == null" class="card-footer" >
		  	<a class="btn btn-danger" th:href="@{/student/leave_Group}">Leave Group </a>
		  </div>
		</div>
		
		<div th:if="${student.group?.Project != null}" class="card text-center w-75 shadow m-3 mb-5">
		  <div class="card-body">
		    <h4 class="card-title" th:text="*{student.group?.Project.title}" ></h4>
		    <p class="card-text" th:text="*{student.group?.Project.description}"></p>
		    	
		    	 <ul class="list-group list-group-flush ">		
					<li class="list-group-item"
						th:text="'Client Name: '+ *{student.group?.Project.Client.clientName}"></li>
					<li class="list-group-item"
						th:text="'Client Email: '+ *{student.group?.Project.Client.clientEmail}"></li>	
					<li class="list-group-item"
						th:text="'Client contact: '+ *{student.group?.Project.Client.clientContact}"></li>
					<li class="list-group-item"
						th:text="'Client contact: '+ *{student.group?.Project.Client.clientCompany}"></li>		
				</ul>
		  </div>
		</div>
		
		</div>
		
		
		
		
		<!-- Students with no group -->
		<div th:if="${student.group} == null">
		
			<div class="alert bg-info text-light shadow" role="alert">
			
			  <h2>Welcome to the Student Capstone Portal</h2>
			</div>
			<div class="card-deck">
			  <div class="card shadow mb-4">
			    <div class="card-body border border-primary">
			      <h5 class="card-title">Create Group</h5>
			      <p class="card-text">Create a Capstone group</p>
			      <small class="text-muted"><a class="btn btn-primary shadow" th:href="@{/student/createGroup}">Create Group </a></small>
			    </div>
			  </div>
			  <div class="card shadow mb-4">
			    <div class="card-body border border-primary">
			      <h5 class="card-title">Join a Group</h5>
			      <p class="card-text">Join one of the currently available groups</p>
			      <small class="text-muted"><a class="btn btn-primary shadow" th:href="@{/student/joinGroup}">Join Group </a></small>
			    </div>
			  </div>
			</div>

		</div>
		
		
	</div>


	
	

</body>
</html>