
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/base.css}" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
</head>
<body class="bg-grey">
  
   
   
	<div th:replace="fragments/navbars/navbar :: Student_Nav">
	</div>
	
	
	<div class="container" align="center">
	
			<form th:object="${GroupInfo}" method="post" th:action="@{/student/join_group/{id}(id = ${GroupInfo.groupId})}" >
				<table class="table text-center shadow bg-white">
				
					<tr th:if="${error}">
						<td colspan = "3">
							<p th:text="${error}" />
						</td>
					
					</tr>
				
					<tr>
						<th colspan="3" th:text="'Join Group  ' + ${GroupInfo.groupName}">
							
						</th>
					</tr>
					
					<tr>	
						<td><h5>PASSCODE FOR TESTING:</h5> </td>
						<td><input class="form-control" th:value="${GroupInfo.passcode}" /> </td>
					</tr>
					
					<tr>
						<td><h5>Enter group Passcode: </h5> </td>
						<td><input class="form-control" autofocus required max="9999" min="0001" type="number" name="password_test" /> </td>
					</tr>
					<tr>
						<td colspan="3">
							<input class="btn btn-primary shadow w-25" type="submit" value="Join Group" /> 
						</td>
					</tr>
				
				</table>
			</form>
		
	</div>
	

</body>
</html>