
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/base.css}" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Join Group</title>
</head>
<body class="bg-grey">
  
   
   
	<div th:replace="fragments/navbars/navbar :: Student_Nav">
	</div>
	
	
	<div class="container" align="center">
	
	
			<table class="table bg-white text-center shadow">
				<tr th:if="${error}">
					<td colspan = "3">
						<p th:text="*{error}" />
					</td>
				
				</tr>
			
				<tr>
					<th colspan="3">
						Join Group
					</th>
				</tr>
				
				<tr th:each="group : ${groupList}">
					
					<td>Group Name: </td>
					<td><p th:text="*{group.groupName}"/></td>
					
					<td><a class="btn btn-primary shadow" th:href="@{/student/join_group/{id}(id = ${group.groupId})}">Join Group</a>
				</tr>
			
			</table>
		
	</div>
	

</body>
</html>