
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>My Projects</title>
</head>
<body class="bg-grey">

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>

	
<!-- View-dependent nav area -->
	

	 	<div class="container" align="center">
	 	<div class="alert bg-info text-light shadow">
			<h2>Projects List</h2>
		</div>
		
	 	<table class="table" >
			<tr th:if="${myProjectList == null}" class="table-warning w-auto">
				<td align="center">
					Sorry, you don't have any projects yet.
				</td>	
			</tr> 
			<tr th:if="${msg}" class="table-success w-auto">
				<td align="center">		
					<p th:text=${msg} />
				</td>
			</tr>
		
		</table>
		
	 	<div class="card text-center m-4 shadow" th:each="project: ${myProjectList}">
		  <h5 style="background-color:#003767"  class="card-header text-break text-light" th:text="${project.title}"></h5>
		  <div class="card-body">
		    <h5 class="card-title " th:text="${project.status}"></h5>
		    <p  class="card-text text-break w-100" th:text="${project.description}"></p>
		    
			    <div th:unless="${project.profNote}== null OR ${project.profNote.empty}" class="card-text text-break w-100 mt-4">
			    	<h5> Professor Note: </h5>
			    	<p th:text="'Professor Note: ' + ${project.profNote}"></p>
			    </div> 
		    </div>
		    <div class="card-footer container" >
		    	<div class="row">
		    		<div class="col align-self-start"></div>
		    		<div class="col align-self-center">
			    	<a class="btn btn-primary btn-sm w-50 shadow" th:href="@{/client/editMyProject/{id}(id = ${project.projectId})}">Edit</a> 
		    		</div>
		    		<div class="col align-self-end" >
		    		<a th:if="${project.status} == Pending OR ${project.status} == Rejected " class="d-inline float-right btn btn-danger btn-sm shadow" th:href="@{/client/deleteMyProject/{id}(id = ${project.projectId})}">Delete</a> 
			    	</div>

				</div>
		    </div>
		  
		</div>
		
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
	

</body>
</html>