
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css" media="all"/>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>My Projects</title>
</head>
<body>

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	

	
	
<!-- View-dependent nav area -->
	
	 	<div class="container-fluid" align="center">
	 	<br/>
		<table class="table" >
		<tr th:if="${myProjectList == null}" class="table-warning w-auto">
			<td align="center">
				Sorry you don't have any projects yet.
			</td>	
		</tr> 
		<tr th:if="${msg}" class="table-success w-auto">
			<td align="center">		
				<p th:text=${msg} />
			</td>
		</tr>
		</table>
		
		<table class="table">
		<thead class="bg-primary">
			<tr align="center">
				<th colspan="6" >
				<h2>My Projects</h2>

				</th>	
			</tr>
		</thead>
			<thead class="bg-primary">
				<tr align="center">
					<th>Title</th>
					<th>Description</th>
					<th>Status</th>
					<th>Professor Note</th>
					<th>Opt.</th>
					<th>-</th>
				</tr>
			</thead>
			
			
			<tr th:each="project: ${myProjectList}" >
			    <td class="w-25" th:text="${project.title}" />
			    <td class="text-break"><p th:text="${project.description}"></p></td>
			    <td th:text="${project.status}" />
			    <td th:text="${project.profNote}" />
			    <td>
			     <a class="btn btn-primary btn-sm" th:href="@{/client/editMyProject/{id}(id = ${project.projectId})}">Edit</a> 	    
			    </td>
			    
			    <td>
			    <div th:if="${project.status} == Pending OR ${project.status} == Rejected ">
			    	<a class="btn btn-danger btn-sm" th:href="@{/client/deleteMyProject/{id}(id = ${project.projectId})}">Delete</a> 
			    </div>
			    </td>
			    
			</tr>
			
	
		</table>
	</div>
	

</body>
</html>