
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>My Projects</title>
</head>
<body>

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	

	
	
<!-- View-dependent nav area -->
	
	 	<div class="bg-white" align="center">
		<h2>My Projects</h2>
		<a href="/client/addProject">Add Project</a><br>
		
	
		<div th:if="${myProjectList == null}">
			Sorry you don't have any projects yet <br />
		</div>
		<div th:if="${msg}">
			<p th:text=${msg} />
		</div>
		
		<table>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Status</th>
				<th>Professor Note</th>
				<th>Opt.</th>
				<th>-</th>
			</tr>
			
			
			<tr th:each="project: ${myProjectList}">
			    <td th:text="${project.title}" />
			    <td th:text="${project.description}" />
			    <td th:text="${project.status}" />
			    <td th:text="${project.profNote}" />
			    <td>
			     <a th:href="@{/client/editMyProject/{id}(id = ${project.projectId})}">Edit</a> 
			    
			    </td>
			    
			    <td>
			    <p th:if="${project.status} == Pending OR ${project.status} == Rejected ">
			    
			    	<a th:href="@{/client/deleteMyProject/{id}(id = ${project.projectId})}">Delete</a> 
			    </p>
			    </td>
			    
			</tr>
			
	
		</table>
	</div>
	

</body>
</html>