
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css" media="all"/>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Change Password</title>
</head>
<body>
  
   
   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	
	
		<div class="container" align="center">
			<table class="table">
				<tr th:if="${error}" align="center" class="table-danger">
					<td th:text="*{error}" ></td>
				</tr>
			</table>
			<form th:action="@{/client/change_password}" method="POST">
			<table class="table">
				
				<thead class="bg-primary">
					<tr align="center">
						<th colspan="2"><h2>Change Password</h2></th>
					</tr>
				</thead>
				<tr>
					<td class="w-25">Old password: </td>
					<td> <input class="form-control w-autos col-xl-7" required type="password" name="old_password" /> </td>
				</tr>
				
				<tr>
					<td class="w-25"> New password: </td>
					<td> <input class="form-control w-autos col-xl-7" required type="password" name="new_password" /> </td>
				</tr>
				
				<tr>
					<td class="w-25"> Confirm password: </td>
					<td> <input class="form-control w-autos col-xl-7" required type="password" name="confirm_password" /> </td>
				</tr>
				<tr>
					<td colspan="2" align="center"> <input class="btn btn-primary mb-2" type="submit" value="Change Password" /> </td>
				</tr>
				

			</table>
			</form>
		</div>

	

</body>
</html>