
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css" media="all"/>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Delete Project</title>
</head>
<body>

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	

	
	
<!-- View-dependent nav area -->
	
	 	<div class="container" align="center">
	 	
		<form th:action="@{/client/deleteProject}" th:object="${project}" method="post">
		<input th:field="*{projectId}" hidden="true" />
		<table class="table">
			
			<tr class="bg-danger" align="center">
				<td colspan="2" ><h2>Are you sure you want to delete this project ?</h2></td>
			</tr>
			<tr>
				<td class="w-25"> <label >Project Title: </label></td>
				<td> <input class="form-control w-autos col-xl-7" th:field="*{title}" readonly/></td>			
			</tr>
				
			<tr>
				<td class="w-25"> <label  >Project Description: </label></td>
				<td><textarea class="form-control w-autos" readonly form="projectForm" th:field="*{description}" style="width:475px; height:130px;" > </textarea></td>
				
			</tr>	
			<tr>
				<td><a th:href="@{/client/myProject}"> <input class="btn btn-primary" type="Button" value="Cancel" /></a></td>
				<td> <input class="btn btn-danger" type="submit" value="Delete Project" /></td>
			</tr>
		</table>
		</form>

	</div>
	

</body>
</html>