
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Delete Project</title>
</head>
<body>

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	

	
	
<!-- View-dependent nav area -->
	
	 	<div class="bg-white" align="center">
	 	
			<!--  display the message -->
		<br/>
		<form th:action="@{/client/deleteProject}" th:object="${project}" method="post">
		<input th:field="*{projectId}" hidden="true" />
		<table>
			<tr>
				<td colspan="2"><h2>Are you sure you to delete this project</h2></td>
			</tr>
			<tr>
				
				<td> <label >Project Title: </label></td>
				<td> <input th:field="*{title}" readonly/></td>
				
			</tr>
				
			<tr>
				<td> <label >Project Description: </label></td>
				<td> <input th:field="*{description}" readonly /></td>
				
			</tr>	
			<tr>
				<td><a th:href="@{/client/myProject}"> <input type="Button" value="Cancel" /></a></td>
				<td> <input type="submit" value="Delete Project" /></td>
			</tr>
		</table>
		</form>

	</div>
	

</body>
</html>