
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Edit Project</title>
</head>
<body class="bg-grey">

   
	<div th:replace="fragments/navbars/navbar :: clientNav">
	</div>
	
<!-- View-dependent nav area -->
	
	 <div class="container" align="center">
	 
		<form th:action="@{/client/updateProject}" th:object="${project}" method="post" id="projectForm">
		
		<table class="table">
			<thead class="bg-primary" align="center">
				<tr>
					<th colspan="2" align="center"><h2>Edit Project</h2>
						<!--  display the message -->
						<div th:if="${msg != null}">
							<p th:value="${msg}"> </p>
						</div>
					</th>
				</tr>
			</thead>
			<tr>
			
				<td class="w-25"> <label >Project Title: </label> <input th:field="*{projectId}" hidden="true" /></td>
				<td> <input class="form-control w-autos col-xl-7" th:field="*{title}" /></td>
				
			</tr>
				
			<tr >
				<td class="w-25"> <label >Project Description: </label></td>
				<td><textarea class="form-control w-autos" form="projectForm" th:field="*{description}" style="width:475px; height:130px;" > </textarea></td>
			</tr>	
			<tr align="center">
				<td><a  th:href="@{/client/myProject}"> <input type="button" class="btn btn-primary mb-2" value="Cancel" /> </a></td>
				<td> <input class="btn btn-primary mb-2" type="submit" value="Update Project" /></td>
				
			</tr>
		</table>
		</form>

	</div>
	

</body>
</html>