<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<meta charset="UTF-8">

<title>Assigning Project</title>
</head>
 <body class="bg-grey">
  
	<div th:replace="fragments/navbars/navbar :: profNav"></div>

		<div class="container" align="center">
			<form th:action="@{/professor/assignGroup}" th:object="${group}" method="post">
			<input type="hidden" th:field="*{groupId}"/>
			<table class="table table-bordered bg-white text-dark text-center shadow">
				<thead>
					<tr>
						<th colspan="2" >
							<h2 align="center">Assigning Groups A Project</h2>
						</th>
					</tr>
				</thead>
				<tr>
					<td><label for="groupName">Name:</label> </td>
					<td><input class="form-control text-center  mb-2" readonly th:field="*{groupName}" /></td>
				</tr>
				
				<tr>
					<td><label for="program">Program:</label> </td>
					<td><input class="form-control text-center   mb-2" readonly th:field="*{program}" /></td>
				</tr>
				
				<tr>
					<td><label for="campus">Campus:</label></td>
					<td><input class="form-control text-center  mb-2" readonly th:field="*{campus}" /></td>
				</tr>
				
				<tr>
					<td><label>Students:</label> </td>
					<td>
						<ul class="list-group" th:each="student : ${group.group_members}">
							<li class="list-group-item" th:utext="${student.name}"></li>
						</ul>
					</td>
				</tr>
				<!--   -->
				<tr>
					<td><label>Approved Projects:</label> </td>
					<td>
						<select class="form-control text-center" name="projectId" th:value="${projectId}" >
							<option th:each="project : ${projects}" th:if="${!project.Archived} AND ${project.GroupBean == null}"
									th:value="${project.projectId}"
									th:text="${project.title}">
							</option>
							
						</select>
					</td>
				</tr>
				
				<tr>
					<td colspan="2" align="center"> <input class="btn btn-primary mb-2 w-25 shadow" type="submit" value="Submit" /></td>
				<tr>
				
				</table>
			</form>
			
		</div>	
</body>
</html>