
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Assigning Projects</title>
</head>
<body>

	<div th:replace="fragments/navbars/navbar :: profNav">
	</div>
	
<!-- View-dependent nav area -->
	<div class="bg-white" align="center">

	<div class="message-highlight" align="center">
		<h2>Assign a Project to a Group</h2>
		
		<form th:action="@{/professor/assignProjectForm}" th:object="${project}" method="POST">
				
				<input type="hidden" name="projectId" th:field="*{projectId}" />
			<table>
				<tr>
					<td><label >Project Title:</label></td>
					<td><input readonly th:value="*{title}" /> </td>
				</tr>
			
				<tr th:if="${groups!=null and !groups.empty}">
					<td><label for="group">Group :</label></td>
					<td>
					
					<select name="groupId" th:value="*{groupId}" >
						<option th:each="group : ${groups}"
								
								th:value="${group.groupId}"
								th:text="${group.groupName}">
						</option>
						
					</select>
					</td>
				</tr>
				
				<tr th:unless="${groups!=null and !groups.empty}">
					<td align="center" colspan="2">
					<p>No available groups</p>
					</td>
				</tr>				

				<tr >
					<td><a th:href="@{/professor/listApprovedProjects}"><input type="button" value="Cancel"></a> </td>
					<td>
						<input type="submit" value="Update" th:disabled="${groups==null or groups.empty}" />
					</td>
				</tr>
			
			</table>
		</form>
	</div>
	</div>
	

</body>
</html>