
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>


<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>


<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Edit Limit</title>
</head>
<body class="bg-grey">

	<div th:replace="fragments/navbars/navbar :: profNav"></div>


	<div class="container" align="center">
		
		<form th:action="@{/professor/editClient}" th:object="${client}" method="POST" >
			<input type="hidden" th:value="${client.clientId}" name="cid"/>
			<table class="table bg-white text-center shadow">
				
				<tr>					
					<th colspan="2">
						<h2>Edit Client Limit</h2>
					</th>
				</tr>
				<tr>
					<td><label>Client Name:</label></td>
					<td><input class="form-control" type="text" readonly th:value="${client.clientName}" /></td>
				</tr>
				<tr>
					<td><label>Client Current Limit</label></td>
					<td><input class="form-control" name="newLimit" max="10" th:min="${client.clientLimit}" type="number" required th:value="${client.clientLimit}" /></td>
				</tr>			

				<tr>
					<td> <a th:href="@{/professor/listProjects}" class="btn btn-secondary w-25 shadow"  >Cancel</a>
					<td ><input type="submit" class="btn btn-primary w-50 shadow" value="Update" /></td>
					
				</tr>
	
			</table>
			
		</form>

	</div>



</body>
</html>