
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}"
	media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>List of Projects</title>

</head>
<body class="bg-grey">


	<div th:replace="fragments/navbars/navbar :: profNav"></div>

	<!-- View-dependent nav area -->

	<div class="container" align="center">
		<div class="alert bg-info text-light shadow">
			<h2>List Projects</h2>
		</div>
		<div th:if="${msg}" class="alert alert-success shadow">Record
			updated</div>


		<div th:each="client : *{clientList}" th:if="${!client.Archived}">

			<div class="row m-auto">
				<div class="card w-100  shadow bg-white" >
					<div class="card-header text-light "
						style="background-color: #003767" data-toggle="collapse"
						th:href="'#collapse'+*{client.clientEmail}"
						aria-controls="'collapse'+*{client.clientEmail}">
						<h4 class="" th:utext="*{client.clientCompany} + ' Projects'"></h4>
					</div>
					<div class="collapse-content collapse"
						th:id="'collapse'+*{client.clientEmail}">
						<ul class="list-group list-group-flush ">
							<li class="list-group-item"
								th:utext="'Client Name: ' + *{client.clientName}"></li>
							<li class="list-group-item"
								th:utext="'Client Contact#: ' + *{client.clientContact}"></li>
							<li class="list-group-item"
								th:utext="'Client Email: ' + *{client.clientEmail}"></li>
							<li class="list-group-item"
								th:utext="'Client Industry: ' + *{client.clientIndustry}"></li>
							<li class="list-group-item"
								th:utext="'Company Scale: ' + *{client.clientScale}"></li>
						</ul>
					</div>


					<div class="card-footer bg-white">

						<div class="card-deck-wrapper">

							<div class="card w-75 shadow "
								th:each="project : *{client.projectList}"
								th:if="${!project.Archived}">
								<div class="alert-primary  text-black p-2" data-toggle="collapse"
									th:href="'#collapse'+*{project.projectId}"
									aria-controls="'collapse'+${project.projectId}">

									<h5 class="text-dark" th:utext="*{project.title}"></h5>
									<h6 class="card-subtitle text-muted"
										th:utext="*{project.status}"></h6>
								</div>
								<div class="collapse-content collapse"
									th:id="'collapse'+*{project.projectId}">
									<div class="card-body">
										<div>
											<p class="text-light badge badge-pill mt-0"
												style="background-color: #FF6347">Description</p>
											<p class="card-text" th:utext="*{project.description}"></p>
										</div>
										<br />
										<h6 class="card-title">Professor Notes:</h6>
										<small class="text-muted" th:utext="*{project.profNote}"></small>
									</div>
									<div class="card-footer">
										<p class="card-text"
											th:if="*{project.groupBean?.groupName !=null }">
											<small class="text-muted"
												th:utext="'Group: ' + *{project.groupBean?.groupName}">
											</small>
										</p>

										<a
											th:href="@{/professor/profEditProject/{id}(id=${project.projectId})}"
											class="btn btn-primary w-25 mb-2 shadow">Edit</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<br /> <br />
		</div>

	</div>


	<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous" type="text/javascript"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous" type="text/javascript"></script>
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous" type="text/javascript"></script>
</body>
</html>