
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}"
	media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Reports</title>
</head>
<body class="bg-grey">



	<div th:replace="fragments/navbars/navbar :: profNav"></div>

	<!-- View-dependent nav area -->

	<div class="container" align="center">
			<div class="alert bg-info text-light shadow">
				<h2>Reports</h2>
			</div>
			
		<div class="card w-25 shadow m-4">
		  <h5 class="card-header">Reports</h5>
		  <div class="card-body">
			<form th:action="@{/professor/reportStatus}" >
				<select class="form-control w-auto m-2 shadow" required name="reportType">
					<option value="noGroupStudent">Students with no group</option>
					<option value="noProjectGroup">Groups with no projects</option>
					<option value="allGroups">All Groups</option>
					<option value="approvedProjects">Approved Projects</option>
					<option value="rejectedProjects">Rejected Projects</option>
					<option value="pendingProjects">Pending Projects</option>
				</select> <input type="submit" class="btn btn-primary m-2 shadow" value="Get Report">
	
			</form>
		  </div>
		</div>

		<th:block th:switch="${reportType}">

			<div th:case="'noGroupStudent'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${studentList.isEmpty()}">
						<tr>
						<th colspan="6"><h4>Students with no group</h4></th>
						</tr>
						<tr>
							<th>Student Name</th>
							<th>Student ID</th>
							<th>Program</th>		
							<th>Campus</th>
							<th>GPA</th>
							<th>Email</th>
						</tr>
					</thead>

					<tr th:each="student : ${studentList}">
						<td><p th:utext="*{student.name}" /></td>
						<td><p th:utext="*{student.student_id}" /></td>
						<td><p th:utext="*{student.program}" /></td>
						<td><p th:utext="*{student.campus}" /></td>
						<td><p th:utext="*{student.gpa}" /></td>
						<td><p th:utext="*{student.student_email}" /></td>
					</tr>
					<tr th:if="${studentList.isEmpty()}">
						<td class="alert alert-warning"><p>No Students are without a Group</td>
					</tr>
				</table>
				

			</div>
			
			
			<div th:case="'noProjectGroup'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${noProjectList.isEmpty()}">
						<tr><th colspan="3"><h4>Groups without a project</h4></th></tr>
						<tr>
							<th>Group Name</th>
							<th>Students</th>
							<th>Program</th>
						</tr>
					</thead>

					<tr th:each="group : ${noProjectList}">
						<td><p th:utext="*{group.groupName}" /></td>
						<td align="left"><ul th:each="student : *{group.group_members}">
								<li th:utext="${student.name}"></li>
							</ul></td>
						<td><p th:utext="*{group.program}" /></td>
					</tr>
					<tr th:if="${noProjectList.isEmpty()}">
						<td class="alert alert-warning"><p>No Groups are without a Project</td>
					</tr>
				</table>
			</div>
			<div th:case="'allGroups'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${groupList.isEmpty()}">
						<tr><th colspan="4"><h4>All groups</h4></th></tr>
						<tr>
							<th>Group Name</th>
							<th>Students</th>
							<th>Program</th>
							<th>Project</th>
						</tr>
						</thead>
						<tr th:each="group : ${groupList}">
							<td><p th:utext="*{group.groupName}" /></td>
							<td align="left"><ul th:each="student : *{group.group_members}">
									<li th:utext="${student.name}"></li>
								</ul></td>
							<td><p th:utext="*{group.program}" /></td>
							<td>
								<p th:utext="*{group.project.title}" th:if="*{group.project} != null"/>
								<p th:utext="---" th:if="*{group.project} == null"/>
							</td>
						</tr>
					<tr th:if="${groupList.isEmpty()}">
						<td class="alert alert-warning"><p>No Groups</td>
					</tr>				
				</table>
			</div>
			<div th:case="'approvedProjects'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${approvedProjects.isEmpty()}">
						<tr><th colspan="4"><h4>Approved projects</h4></th></tr>
						<tr>
							<th>Project Title</th>
							<th>Client Name</th>
							<th>Client Phone</th>
							<th>Client Email</th>
						</tr>
					</thead>
						<tr th:each="project : ${approvedProjects}">
							<td class="text-break w-25"><p th:utext="*{project.title}" /></td>
							<td><p th:utext="*{project.client.clientName}" /></td>
							<td><p th:utext="*{project.client.clientContact}" /></td>
							<td><p th:utext="*{project.client.clientEmail}" /></td>
						</tr>
					<tr th:if="${approvedProjects.isEmpty()}">
						<td class="alert alert-warning"><p>No Approved Projects</td>
					</tr>	
				</table>
			</div>
			<div th:case="'rejectedProjects'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${rejectedProjects.isEmpty()}">
						<tr><th colspan="4"><h4>Rejected Projects</h4></th></tr>
						<tr>
							
							<th>Project Title</th>
							<th>Client Name</th>
							<th>Client Phone</th>
							<th>Client Email</th>
						</tr>
						</thead>
						<tr th:each="project : ${rejectedProjects}">
							<td class="text-break w-25"><p th:utext="*{project.title}" /></td>
							<td><p th:utext="*{project.client.clientName}" /></td>
							<td><p th:utext="*{project.client.clientContact}" /></td>
							<td><p th:utext="*{project.client.clientEmail}" /></td>
						</tr>
					
					<tr th:if="${rejectedProjects.isEmpty()}">
						<td class="alert alert-warning"><p>No Rejected Projects</td>
					</tr>	
				</table>
			</div>
			<div th:case="'pendingProjects'">
				<table class="table table-bordered text-center table-hover bg-white shadow">
					<thead th:unless="${pendingProjects.isEmpty()}">
					<tr><th colspan="4"><h4>Pending projects</h4></th></tr>
						<tr>
							
							<th>Project Title</th>
							<th>Client Name</th>
							<th>Client Phone</th>
							<th>Client Email</th>
						</tr>
						</thead>
						<tr th:each="project : ${pendingProjects}">
							<td class="text-break w-25"><p th:utext="*{project.title}" /></td>
							<td><p th:utext="*{project.client.clientName}" /></td>
							<td><p th:utext="*{project.client.clientContact}" /></td>
							<td><p th:utext="*{project.client.clientEmail}" /></td>
						</tr>
					<tr th:if="${pendingProjects.isEmpty()}">
						<td class="alert alert-warning"><p>No Pending Projects</td>
					</tr>	
				</table>
			</div>
		</th:block>

	</div>



</body>
</html>