<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="resources/css/base.css" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Client Signup</title>
</head>
  <body>
		
	<div th:replace="fragments/navbars/navbar :: navbar">
	</div>


		
 <div class="container" align="center">
 <br/>
		<h2>Client Sign up</h2>

		<form th:action="@{/saveClientInfo}" th:object="${client}" method="POST">
		<table>
			<tr>
				<td><label for="clientName">Name:</label> </td>
				<td><input class="form-control w-auto mb-2" required th:field="*{clientName}" /></td>
			</tr>
			
			<tr>
				<td><label for="clientCompany">Company:</label></td>
				<td><input class="form-control w-auto mb-2" required th:field="*{clientCompany}" /></td>
			</tr>

			<tr>
			
				<td><label for="clientContact">Contact:</label> </td>
				<td><input class="form-control w-auto " required th:field="*{clientContact}" /></td>
			</tr>
			
			<tr>
				<td><label for="clientAddress">Address:</label> </td>
				<td><input class="form-control w-auto " required th:field="*{clientAddress}" /></td>
			</tr>
			
			<tr>
				<td><label for="clientIndustry">Industry:</label></td>
				<td><select class="form-control w-auto mb-2" required th:field="*{clientIndustry}" >
						<option value="Agriculture/Food Technology">Agriculture/Food Technology</option>
						<option value="Building Technology">Building Technology</option>
						<option value="Environmental Technology">Environmental Technology</option>
						<option value="Medical/Heath Science Technology">Medical/Heath Science Technology</option>
						<option value="Information/Communication Technology">Information/Communication Technology</option>
						<option value="Manufacturing Technology">Manufacturing Technology</option>						
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label  for="clientScale">Organization Size:</label></td>
				<td><select class="form-control w-auto mb-2" required th:field="*{clientScale}" >
						<option value="Large Enterprise">Large Enterprise(500+ employees)</option>
						<option value="Small-to-medium Enterprise">Small-to-medium Enterprise(5-499 employees)</option>
						<option value="Startup">Startup(1-4 employees)</option>
						<option value="Not Yet Registered">Not Yet Registered</option>
						<option value="Individual Client">Individual Client</option>
						<option value="NGO/Not for Profit">NGO/Not for Profit</option>						
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label for="clientEmail">Email:</label> </td> 
				<td><input class="form-control w-auto mb-2" required th:field="*{clientEmail}" /></td>
			</tr>
			
			<tr>
				<td><label for="password">Password:</label></td>
				<td><input class="form-control w-auto mb-2" type="password" required th:field="*{password}" /></td>
			</tr>
			
			<tr>
				<td><label for="Confirm password">Confirm Password:</label></td>
				<td><input class="form-control w-auto mb-2" type="password" required name="confirm_password" /></td>
			</tr>

			<tr>
				<td colspan="2" align="center"> <input class="btn btn-primary mb-2" type="submit" value="Submit" /></td>
			</tr>
			</table>
			
		</form>
		
		<table style="border-style: hidden;">
			<tr th:each="error :${errors}">
				<td th:text="*{error}" colspan="2"></td>
			</tr>
		</table>
		
	</div>
		
</body>
</html>