<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="resources/css/base.css" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>User Signup</title>
</head>
  <body class="bg-grey">
		
	<div th:replace="fragments/navbars/navbar :: navbar">
	</div>


		
 <div class="container" align="center">
 	<br/>
      <h2>Please select an option</h2>
      	<br/>
		<form th:action="@{/addClient}" method="POST">
		     <input type="submit" name="client_signup" id="client_signup" class="btn btn-primary mb-2" value="Client Signup" />   	
		</form>	
		<br/>
		<form th:action="@{/addStudent}" method="POST">
		     <input type="submit" name="student_signup" id="student_signup" class="btn btn-primary mb-2" value="Student Signup" />   	
		</form>	
		
	</div>
		
</body>
</html>