<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="resources/css/base.css" media="all" />
<meta charset="UTF-8">
<title>User Signup</title>
</head>
  <body class="bg-grey">
		
	<div th:replace="fragments/navbars/navbar :: navbar">
	</div>


		
 <div class="container" align="center">
 	<div class="alert bg-info shadow text-light">
      <h2>Please select an option</h2>
	</div>	
		<div class="card-deck w-50 m-4">
		  
		    <div class="card shadow w-25">
		      <div class="card-body">
		        <h5 class="card-title">Client's sign up page</h5>
		        <a th:href="@{/addClient}" class="btn btn-primary m-2 shadow">Client Signup</a>
		      </div>
		    </div>
		  
		  
		    <div class="card shadow w-25">
		      <div class="card-body">
		        <h5 class="card-title">Student's sign up page</h5>
		        <a th:href="@{/addStudent}" class="btn btn-primary m-2 shadow">Student Signup</a>
		      </div>
		    </div>
		  
		</div>      	
	</div>
		
</body>
</html>