
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}"
	media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>About</title>
</head>
<body class="bg-grey">
  
   
   
	<div th:replace="fragments/navbars/navbar :: profNav">
	</div>
	
	
	 <div th:replace="fragments/about :: about">
   </div>
	

</body>
</html>