<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>
<link rel="stylesheet" type="text/css" href="resources/css/base.css" media="all" />
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Error</title>
</head>
<body class="bg-grey">

   <div th:replace="fragments/navbars/navbar :: navbar">
   </div>
					<br />
					<br />

	<div class="">
		<h2>this is the professor index page (NOT USE - as we don't use thymleaf for this secure page but using jsps)</h2>
		<a href="/prof" th:href="@{/}">home/unsecure page - (Not USE for NOW =>Using JSP prof secure folder right now)</a>
	</div>

</body>
</html>