	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="about">
		<div class="container" align="center">
			<div class="wrapper block-row" >
				<div align="center" class="block large-text callout-with-stats welcome" style="height: 458px;">
 						
   					
   					 <div class="inner-wrapper title-block-wrapper"><h2>Welcome</h2></div>

						<div class="inner-wrapper">
						<br/>
						<br/>
  						  <p>Founded in 1967, Sheridan has grown from a local college of 400 students to one of Ontario’s leading postsecondary institutions, educating approximately 23,000 full-time and 18,500 continuing and part-time studies students every year on three campuses in three Ontario cities – Oakville, Brampton and Mississauga.</p>
							<p>An award-winning institution, Sheridan attracts students from across Canada and around the world. Sheridan’s 170,000 alumni play a critical role in shaping the future of our society in the fields of arts, business, community service, health, technology, and the skilled trades.</p>

						</div>

				</div>
				
			</div>
		</div>
	</div>
	</body>
	</html>