  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
</head>
<body>
   	<div th:fragment="contact">
   		<div class="container" align="center">
			<div class="wrapper block-row" >
			<div class="bg-white" align="center"> 
				<div align="center" class="large-text callout-with-stats welcome">
 
   					
   					 <div class="inner-wrapper title-block-wrapper"><h2>Contact Sheridan Research</h2></div>

						<div class="inner-wrapper">
						<br/>
						<br/>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">Sheridan Research is here to support you through your research process.&nbsp;</span><span style="color: black;">Please don’t hesitate to contact us if you have any questions.</span></p>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">&nbsp;</span></p>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">Monday to Friday, 8:30 a.m. to 4:30 p.m.</span></p>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">The Sheridan Research office is located in J103 at the Trafalgar Campus in Oakville.</span></p>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">T: 905-845-9430 ext. 2593</span></p>
				<p style="margin-bottom: 0.0001pt;"><span style="color: black;">E: </span><a href="mailto:">research@sheridancollege.ca</a></p>
				<p><span class="scWebEditInput scEnabledChrome" id="fld_4E4D9335D9C3453A8F65A5CC66A7B926_C93CDA1247124B2D98A3A54312AD1793_en_2_31c8035eec1d43549152f07fe03621d0_322425_edit">
				</span></p>
				<p><strong>&nbsp;</strong></p>
				<p><strong>Vicki Mowat</strong><br>
				Director, Research<br>
				905-845-9430 x4254<br>
				<br>
				<br>
				<strong>Mai Saleh-VanDeventer</strong><br>
				Assistant to the Director, Research<br>
				905-845-9430&nbsp; x2702<br>
				<br>
				<br>
				<strong>Francesca Abbruzzese</strong><br>
				Finance &amp; Operations Manager<br>
				905-845-9430&nbsp; x8634</p>
				<p><strong>&nbsp;</strong></p>
				<p><strong>Rupinder (Ruby) Bahugun </strong><br>
				Research Grants Administrator<br>
				905-845-9430 x2972<br>
				<br>
				<strong></strong></p>
				<p><strong>&nbsp;</strong></p>
				<p><strong>Matteo D'Angelo</strong><br>
				Research Grants Administrator<br>
				905-845-9430 x8603</p>
				<p>&nbsp;</p>
				<p><strong>Dianna Dinevski</strong><br>
				Industrial Liaison Manager<br>
				905-845-9430 x2593<br>
				<br>
				<br>
				<strong>Wendy Kanko</strong><br>
				Research Assistant - SONAMI Project<br>
				905-845-9430 x8232</p>
				<p>&nbsp;</p>
				<p><strong>Kelly Karius</strong><br>
				Project Manager<br>
				905-845-9430 x4261<br>
				<br>
				<strong></strong></p>
				<p><strong>Alison Kwan</strong><br>
				Research Grants Administrator<br>
				905-845-9430 x2861<br>
				<br>
				<br>
				<strong>Debbie Silva</strong><br>
				Research Communications Officer<br>
				905-845-9430 x2321<br>
				<br>
				<br>
				<strong>Wesley Skoczen </strong><br>
				Technical Operations Specialist<br>
				905-845-9430 x8704 </p>
				<div>&nbsp;</div>
				    </div>
				    <div>
				        
				    </div>
				</div>
			</div>
		</div>
</div>
</div>
</body>
</html>