<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>FAQs</title>
</head>
<body>
	<div th:fragment="faqs">
		<div class="container" align="center">
			<div class="wrapper block-row">
				<div class="bg-white" align="center">
					<div align="center" class="large-text callout-with-stats welcome">


						<div class="inner-wrapper title-block-wrapper">
							<h2>FAQs</h2>
						</div>

						<div class="inner-wrapper" align="left">
							<br /> <br />

							<h1 id="toc0">
								<span>Introduction</span>
							</h1>
							<p>The Systems Analyst's Capstone courses provide an
								opportunity for Systems Analyst students to apply all of the
								skills that they have acquired towards a real world software
								development project. These courses also serve as an excellent
								showcase of the talents and abilities of the Systems Analyst
								students.</p>
							<p>
								Students have the opportunity to choose a project, analyze
								requirements, design a solution, plan their work and do some
								prototyping in the first Capstone course (<a href="/syst36367">SYST36367
									- SA Capstone Requirements and Design Course (Semester 5)</a>).
								During the second Capstone course (<a href="/info30001">INFO30001
									- SA Capstone Project (Semester 6)</a>) students implement, test,
								deploy and demonstrate their final products. Together the
								Capstone courses provide students with experience in all phases
								of the Software Development Lifecycle including requirements
								gathering, design, project planning, development, testing and
								deployment.
							</p>
							<p>These courses are of vital importance to the Systems
								Analyst program as they provide students with an opportunity to
								work as part of a team on a real world development project just
								prior to their graduation. They are designed to simulate the
								working conditions that most of students are about to experience
								in industry. All students are also required to present their
								products to the Faculty which helps students to enhance their
								presentation skills.</p>
							<p>
								For further details regarding these courses refer to the <a
									href="http://ulysses.sheridanc.on.ca/coutline/results.jsp">Course
									Outlines</a> on Sheridan’s website.
							</p>
							<p>All students are expected to have carefully reviewed this
								document as it helps to explain the requirements, tools,
								expectations and other important information for these courses!</p>
							<h1 id="toc1">
								<span>Class Schedules and Deliverables</span>
							</h1>
							<p>
								The <a href="/classplan">SYST36367 Class Plan</a> and the <a
									href="/s6classplan">INFO30001 Class Plan</a> pages provide
								comprehensive information for the SYST36367 and INFO30001
								courses respectively including:
							</p>
							<ul>
								<li>Detailed agenda (including deliverables) for each week
									of class</li>
								<li>Links to documents which describe the detailed
									requirements and rubrics for each deliverable in the course</li>
								<li>Sample deliverables from past projects</li>
								<li>Links to the meeting schedules for each group</li>
							</ul>
							<h1 id="toc2">
								<span>Meetings and Presentations</span>
							</h1>
							<p>Students are expected to:</p>
							<ul>
								<li>Arrive on time and prepared for all meetings with
									Capstone Faculty.</li>
								<li>Thoroughly test all demonstrations before meeting with
									Faculty and be aware of any significant flaws in the system.</li>
								<li>Have backup plans and systems in the event of a
									computer, network or component failure</li>
								<li>Provide advance notice where possible of absences, or
									other circumstances that may jeopardize project deliverables
									and deadlines</li>
								<li>Review and understand deliverable rubrics before the
									corresponding deliverable dates</li>
								<li>Conduct themselves in a professional manner as though
									they are participating in a “real” corporate business meeting
									with managers and customers!</li>
								<li>Describe the problem and system in each presentation as
									if they are speaking to the customer for the first time.</li>
							</ul>
							<h1 id="toc3">
								<span>Capstone Competition</span>
							</h1>
							<p>After careful review of the final deliverables, several
								groups are selected by the Capstone Faculty to compete at the
								annual Capstone Competition for the program. At the competition,
								the students have an opportunity to present their products to a
								panel of industry experts who are tasked with evaluating and
								selecting the three winning projects. Participation in the
								Capstone Competition is a very rewarding experience which
								provides many benefits to students including:</p>
							<ul>
								<li>Opportunity to present their project to an audience of
									industry experts</li>
								<li>Opportunity to receive constructive feedback about
									their project</li>
								<li>Opportunity to learn about common industry concerns and
									practices</li>
								<li>Opportunity to network with the industry panel</li>
								<li>Opportunity to see and learn from other Capstone groups</li>
								<li>Opportunity to compete for cash prizes</li>
								<li>Opportunity to build up their resumes</li>
								<li>Provides an excellent demonstration of abilities and a
									great discussion point during interviews</li>
								<li>A fun night with free food and refreshments with fellow
									students, Faculty and industry experts</li>
							</ul>
							<p>Many past students have made useful industry contracts
								during the competition and some have even landed jobs
								immediately based on their performance!</p>
							<h1 id="toc4">
								<span>Group Difficulties</span>
							</h1>
							<p>Unfortunately, a few past Capstone Groups have struggled
								to work together effectively. Typically, problems arise when one
								or more group members do not contribute enough to the project.
								In the event that your group encounters difficulties working
								together we recommend the following actions:</p>
							<ul>
								<li>Inform Capstone Faculty immediately about the problem</li>
								<li>Ask all group members to honestly and confidentially
									complete a <a href="/peerevaluation">Peer Evaluation Form</a>
									for the affected Deliverable(s) and submit them individually
									and confidentially to Faculty
								</li>
								<li>Conduct a group meeting and calmly discuss any group
									concerns</li>
								<li>Give the group member(s) another chance to address the
									issue(s)</li>
								<li>Arrange a meeting with Faculty to discuss various
									options if the situation does not improve</li>
							</ul>
							<h1 id="toc5">
								<span>Capstone Tools</span>
							</h1>
							<h2 id="toc6">
								<span>SLATE</span>
							</h2>
							<p>
								<a href="https://login.sheridanc.on.ca/idp/Authn/UserPassword">SLATE</a>
								will be used in this course for:
							</p>
							<ul>
								<li>Distributing Grades</li>
								<li>Posting Course and Scheduling Announcements</li>
								<li>Submitting Course Deliverables</li>
							</ul>
							<p>Students are responsible for checking SLATE regularly
								(daily) for announcements and potential scheduling changes.</p>
							<h2 id="toc7">
								<span>Virtual Machines</span>
							</h2>
							<p>The Capstone Virtual Machines will be used by the groups
								in this course to:</p>
							<ul>
								<li>Deploy and test projects prior to all deliverables</li>
								<li>Demonstrate deliverables to Faculty where possible
									(note that a backup system should be ready in the event of a
									Virtual Machine problem)</li>
								<li>Leave a working copy of all deliverables including
									executables for Faculty to test at any time after the
									deliverable dates in the corresponding “Project
									Deliverables-Semester06\Deliverable0x” folder</li>
								<li>Backup project milestones (note another backup system
									should also be used)</li>
							</ul>
							<p>The following information will be required to connect to
								your group’s Virtual Machine:</p>
							<ul>
								<li>IP Address: 142.55.49.1XX</li>
								<li>Domain: csYY.sheridanc.on.ca</li>
								<li>User Name: As supplied by IT</li>
								<li>Initial Password: As supplied by IT</li>
							</ul>
							<p>Where:</p>
							<ul>
								<li>XX represents your Capstone group number which is
									numbered from 01 to 99</li>
								<li>YY represents your Capstone group number which is
									numbered from 1 to 99</li>
							</ul>
							<p>
								Note: To make support requests for your Capstone Virtual Machine
								complete this IT <a
									href="http://spirit.sheridanc.on.ca/index.php?mod=capstone-request">form.</a>
							</p>
							<h2 id="toc8">
								<span>Version Control and Backups</span>
							</h2>
							<p>Students are responsible for ensuring that:</p>
							<ul>
								<li>All project milestones and deliverables are backed up
									on another system in the event of loss of data from the Virtual
									Machine or a group member’s computer.</li>
								<li>All demonstrations are backed up and ready to execute
									on another system in the event of loss of data or malfunction
									of the Virtual Machine before or during the time of
									demonstration</li>
							</ul>
							<p>Students are also expected to utilize Version Control
								software to help them in organizing and tracking their
								development efforts. To assist students with using Version
								Control, a Sheridan SVN server has been provided with an account
								for each group. The following information will be required for
								connecting to the Sheridan SVN server:</p>
							<ul>
								<li>URL: aces-svn.sheridanc.on.ca/svn/capXX/</li>
								<li>Username: As supplied by IT</li>
								<li>Initial Password: As supplied by IT</li>
							</ul>
							<p>Where: XX represents your Capstone group number.
								TortoiseSVN is a highly recommended Windows client interface to
								SVN.</p>
							<h2 id="toc9">
								<span>Online Project Hosting</span>
							</h2>
							<p>A number of reputable sites provide free project hosting
								for open source and/or small projects. This project hosting
								normally includes version control, issue tracking, wikis and
								other collaboration tools. Project hosting normally does NOT
								include site hosting (Apache, ASP.NET, etc.)! Here are a few
								large sites that provide free online project hosting:</p>
							<ul>
								<li><a href="https://bitbucket.org/">Bitbucket</a> provides
									support for private version control, issue tracking and a
									project Wiki. It is free for groups of 5 or less and allows
									both Git and Mercurial repositories.</li>
								<li><a href="https://github.com/">GitHub</a> provides free
									version control, issue tracking and project management for open
									source projects. Paid private plans are also available here.</li>
								<li><a href="http://code.google.com/projecthosting/">Google
										Project Hosting</a> provides free version control, issue tracking
									and wiki for open source projects.</li>
								<li><a href="http://tfs.visualstudio.com/">Microsoft's
										Team Foundation Service</a> provides support for private version
									control, issue tracking, collaboration, unit testing, agile
									planning and more! It is free for all groups of 5 or less.</li>
							</ul>
							<h2 id="toc10">
								<span>Project Tracking Software</span>
							</h2>
							<p>It is highly recommended that groups use a tracking system
								and tracking software to improve group collaboration and monitor
								progress on the various tasks, bugs and issues associated with
								the project. Two excellent applications specifically designed
								for this purpose are:</p>
							<ul>
								<li><a href="http://www.trello.com">Trello</a> – powerful,
									visual, easy to use, free portal with customized iOS and
									Android apps</li>
								<li><a href="http://www.pivotaltracker.com">Pivotal
										Tracker</a> – even more powerful portal with customized iOS app
									but more difficult to use</li>
							</ul>
							<h2 id="toc11">
								<span>Site Hosting</span>
							</h2>
							<p>
								In addition to the Sheridan Virtual Machines there are many
								powerful and low cost web site and database hosts available on
								the internet. A suitable site host can provide an excellent
								backup or primary system for demonstrations and in some cases
								provide more flexibility than the Sheridan Virtual Machines. <a
									href="https://appharbor.com/">AppHarbor</a> provides free
								ASP.NET hosting. This <a
									href="http://www.webhostpark.com/free-asp-net-hosting/">link</a>
								provides reviews and links to more free ASP.NET hosts.
							</p>
							<p>Some past groups have used one of their home systems to
								host their sites in order to provide maximum flexibility.</p>
							<h1 id="toc12">
								<span>Recommendations</span>
							</h1>
							<p>To be successful, it is strongly recommended that students
								do the following:</p>
							<ul>
								<li>Read this document and the referenced documents
									thoroughly</li>
								<li>Start working diligently on the project right from the
									start and don’t leave it all to the end</li>
								<li>Read the deliverable instructions and rubrics before
									each deadline to ensure that they understand how they will be
									evaluated</li>
								<li>Check the SLATE calendar regularly (daily) for
									announcements, emails, meeting time and room changes</li>
								<li>Have a main system and a backup system ready to go for
									each demonstration</li>
								<li>Identify and address technical and group challenges
									early</li>
								<li>Backup their work</li>
								<li>Use Version Control software to organize and manage
									development efforts</li>
								<li>Spend time to develop and maintain a solid Project Plan</li>
								<li>Use Project Tracking software extensively to improve
									group collaboration and project tracking</li>
								<li>Rehearse each presentation in order to maximize the
									available time</li>
							</ul>
							<h1 id="toc13">
								<span>Helpful Links</span>
							</h1>
							<ul>
								<li><a
									href="http://msdn06.e-academy.com/sharidanc_cis/index.cfm?loc=main">Sheridan
										MSDN</a> - for free access to all of Microsoft's developer tools
									including Visual Studio and SQL Server</li>
								<li><a href="http://www.comp.nus.edu.sg/~damithch/guide3e/">Practical
										Tips for Software Intensive Student Projects</a> - provides a very
									brief and insightful look at managing Capstone projects</li>
								<li><a href="http://svnbook.red-bean.com/">Version
										Control with Subversion eBook</a> - provides a free and helpful
									guide to using Subversion</li>
								<li><a
									href="http://www.sheridancollege.ca/services/student%20learning%20services/library%20services/e-resources/e-books.aspx">Sheridan
										Library eBooks</a> - provides access to several eBook collections
									including Safari and Books247</li>
								<li><a href="http://lynda.sheridancollege.ca">Lynda.com
										Videos</a> - provides many excellent videos related to software
									development, testing and project management</li>
							</ul>


						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>