<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
</head>
<body>
<div th:fragment="faqs">	
		<div class="container" align="center">
			<div class="wrapper block-row" >
				<div align="center" class="block large-text callout-with-stats welcome" style="height: 458px;">
 
   					
   					 <div class="inner-wrapper title-block-wrapper"><h2>FAQs</h2></div>

						<div class="inner-wrapper">
						<br/>
						<br/>
  						  
  						<p>In this course, each Capstone group will:</p>
							<ul>
								<li>Develop a working final system using 5 development iterations</li>
								<li>Test the final system</li>
								<li>Deploy the final system</li>
								<li>Demonstrate and/or present the system to the Capstone faculty at the completion of each development iteration</li>
								<li>Hopefully learn a lot, have lots of fun and deliver a great product!</li>
  						  	</ul>
						</div>

				</div>
				
			</div>
		</div>
</div>
</body>
</html>