<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="bg-grey">
<head>

<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<title>Past Projects</title>
</head>
<body class="bg-grey">
	<div th:fragment="pastProject" class="bg-grey">
		<div class="container" align="center">
			<div class="wrapper block-row">
				<div class="bg-white" align="center">
					<div align="center" class="large-text callout-with-stats welcome">


						<div class="inner-wrapper title-block-wrapper">
							<h2>2018 Projects</h2>
						</div>

						<div class="inner-wrapper">
							<br /> <br />
							<p>
								<img th:src="@{/resources/images/capstone-winners.jpg}"
									alt="capstone winners" /> <br>
							<p>Photo (left to right): Professors Rich Smith and Mark
								Orlando, Team RADS members Raj Patel, Saloni Panchal, Dejoun
								Robinson, Anthony Rella, and Program Coordinator Jerry Kotuba.</p>
							<br> <br>
							<div align="left">
								<p>The annual Systems Analyst Capstone Project Competition
									took place on Wednesday December 5, 2018. Applied Computing
									Capstones represent the cumulative work of a team of students
									who engage with an industry partner to develop a technology
									solution to a non-trivial problem. The project, which is
									completed over the course of the final year of the program, is
									integrated with the curriculum and provides students with a
									practical opportunity to generate a real solution to a
									real-world problem.</p>
								<p>This year, there were a total of 14 Systems Analyst
									projects completed by students at both the Trafalgar and Davis
									campuses. The top four projects were determined by faculty, and
									those four teams were invited to present at the annual Systems
									Analyst Capstone Project Competition, a significant milestone
									that showcases their remarkable work.</p>
								<p>Adjudicated by a panel of six industry professionals, all
									teams should be extremely proud of their accomplishments.
									Having worked tirelessly to overcome the inherent challenges
									presented when working on such projects, the judges were truly
									impressed with their professionalism, knowledge, skills and
									quality of work.</p>
								<p>This year’s Systems Analyst Capstone Winning team was
									Team RADS with their Amazon Echo Application to Manage
									Meetings. Team members included Raj Patel, Saloni Panchal,
									Dejoun Robinson and Anthony Rella.</p>
								<p>A sincere thank you to the outstanding faculty members
									who supported the students through their learning journey. And
									a special shout-out to the administrative staff who planned and
									organized the event.</p>
								<p>To catch a glimpse of the solutions our Capstone students
									developed for their year end project, click on the 2018
									Capstone project video trailers below.</p>
								<div align="center">
									<table>

										<tr>
											<th>Team</th>
											<th>Project</th>
											<th>Video</th>
										</tr>
										<tr>
											<td>RADS
												<p></p>
												<p>(Winners)</p>
											</td>
											<td>Amazon Echo Application&nbsp; to Manage Meetings</td>
											<td><a
												href="https://www.youtube.com/watch?v=zpG0-aJyX9I&amp;feature=youtu.be"
												target="_blank" rel="noopener">Youtube Video</a>
												<p></p>
												<p>&nbsp;</p></td>
										</tr>
										<tr>
											<td>MAGS</td>
											<td>Recreational Facility Booking Application</td>
											<td><a
												href="https://www.youtube.com/watch?v=-xqQEmLjKv4&amp;feature=youtu.be"
												target="_blank" rel="noopener">Youtube Video</a>
												<p></p>
												<p>&nbsp;</p>
												<p>&nbsp;</p></td>
										</tr>
										<tr>
											<td>Spectzero</td>
											<td>Small Business eCommerce Site</td>
											<td><a href="https://www.youtube.com/watch?v=JQlRdrUj28"
												target="_blank" rel="noopener">Youtube Video</a></td>
										</tr>
										<tr>
											<td>Innovators</td>
											<td>Vacation and Event Planner</td>
											<td><a
												href="https://www.youtube.com/watch?v=X6T8Z7zBcGE"
												target="_blank" rel="noopener">Youtube Video</a>
												<p></p>
												<p>&nbsp;</p></td>
										</tr>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>